/* ==========================================================================
   Custom skin
   ========================================================================== */

// Copyed from default.scss and add solarized light base16

/* solarized light syntax highlighting (base16) */
// $base00: background
// $base01: 
// $base02: 
// $base03: 
// $base04: Comment
// $base05: Name
// $base06: 
// $base07: 
// $base08: Error
// $base09: Integer, Boolean, Constant
// $base0a: Module, Class
// $base0b: Strings
// $base0c: Operator, Statement (import, from,..)
// $base0d: Function, Method, Attribute ID
// $base0e: Keyword (def, for, print)
// $base0f: 

/* syntax highlighting (base16) */
$base00: #F5F5F5;
$base01: #303030;
$base02: #303030;
$base03: #303030;
$base04: #b6b6b6;
$base05: #151515;
$base06: #B0B0B0;
$base07: #6A9FB5;
$base08: #75B5AA;
$base09: #c166fc;
$base0a: #b7951b;
$base0b: #d24530;
$base0c: #2dbacf;
$base0d: #486ae4;
$base0e: #04a94d;
$base0f: #AA759F;